<!--<div class={{if gameStart 'no-background-image' 'background-image'}} class={{if gameStart 'play-again' 'no'}} class="wrapper">-->
<canvas id="myCanvas" width={{level.pixelWidth}} height={{level.pixelHeight}} class={{if gameStart 'disabled' 'enabled'}}></canvas>


<div class="game-controls">
    {{!--<button onclick={{action 'startGame'}} class={{if gameStart 'enabled' 'disabled'}} class="start-button">
        <span class={{unless gameOver 'enabled' 'disabled'}}>
            Play Again
        </span>
        <span class={{if gameOver 'enabled' 'disabled'}}>
            Start
        </span>
    </button>--}}
    <div class="game-screen-exit">
        <a {{action 'exitGame'}} class="navigation-link"> Exit </a>
    </div>


    <ul class="game-info" class={{if gameStart 'disabled' 'enabled'}}>
        <li class="score">
            Score:
            <span class="achievement-digits">
                {{score}}
            </span>
        </li>
        <li>
            Level:
            <span class="achievement-digits">
            {{levelNumber}}
            </span>
        </li>
        <ul id="packman-lives">
            {{#each livesIcons as |live|}}
            <li>
                {{live}}
            </li>
            {{/each}}

        </ul>

    </ul>

    <div class="power-mode">
        <div>
            {{#if pac.powerMode}} power Mode: {{/if}}
        </div>
        <div>
            {{#if pac.powerMode}} {{pac.powerModeTime}} {{/if}}
        </div>
    </div>
</div>





<!--  Lives: {{lives}} -->


<!--</div> -->
