extends layout

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${event.photo || 'event.png'}`)
      h2.title.title--single
        a(href=`/administrator/event/${event.slug}`) #{event.name}
        
    .single__details.inner
      img.single__map(src=h.staticMap(event.location.coordinates))
      p.single__location= event.location.address
      p= event.description
      
      if event.tags
        ul.tags
          each tag in event.tags
            li.tag
              a.tag__link(href=`/tags/${tag}`)
                span.tag__text ##{tag}
