mixin eventForm(event = {})
  form(action=`/administrator/add/${event._id || ''}` method="POST" class="card" enctype="multipart/form-data")
    label(for="name") name
    input(name="name" type="text" value=event.name)
    label(for="description") Description
    textarea(name="description")= event.description
    //- Image upload
    label(for="photo") Event Photo
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if(event.photo)
        img(src=`/uploads/${event.photo}`, alt=event.name width=200)
    label(for="address") Address
    input(type="text" id="address" name="location[address]" value=(event.location && event.location.address))
    label(for="lng") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(event.location && event.location.coordinates[0]) required)
    label(for="lat") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(event.location && event.location.coordinates[1]) required)
    - const choices = ['Event', 'Webinar', 'Workshop', 'Deadline', 'Lecture']
    - const tags = event.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="Save" class="button")
