mixin eventCard(event = {})
  .event
    .event__hero
      .event__actions
        .event__action.event__action--edit
          a(href=`/administrator/events/${event._id}/edit`)
            != h.icon('pencil')
      img(src=`/uploads/${event.photo || 'event.png'}`)
      h2.title
        a(href=`/administrator/${event.slug}`) #{event.name}
    .event__details
      p= event.description.split(' ').slice(0, 25).join(' ')
