mixin eventForm(event = {})
  form(action=`/administrator/add-event/${event._id || ''}` method="POST" class="card" enctype="multipart/form-data")
    label(for="name") Name
    input(id="name" name="name" type="text" value=event.name)
    label(for="start") Event Starts
    input(id="start" name="start" type="datetime-local" value=(event.start && event.start.toISOString().substr(0,16)) required)
    label(for="end") Event Finishes
    input(id="end" name="end" type="datetime-local" value=(event.end && event.end.toISOString().substr(0,16)) required)
    label(for="description") Description
    textarea(id="description" name="description")= event.description
    div.label-like Select Speakers
      div.search-speakers
        .search-speakers__labels
          label.search-speakers__container(for="search-speaker")
            input.search-speakers__input(id="search-speaker" autocomplete="off" type="text" name="speaker-names" value=event.speakers[0].name placeholder="Search speaker..." required)
            .search-speakers__results
            input.search-speakers__input-hidden(type="hidden" name="speakers" value=event.speakers[0]._id)
          if event.speakers.length > 1
            - const restSpeakers = event.speakers.slice(1)
            each speaker,i in restSpeakers
              label.search-speakers__container(for="search-speaker")
                span.search-speakers__remove x
                input.search-speakers__input(id="search-speaker" autocomplete="off" type="text" name="speaker-names" value=event.speakers[i+1].name placeholder="Search speaker..." required)
                .search-speakers__results
                input.search-speakers__input-hidden(type="hidden" name="speakers" value=event.speakers[i+1]._id)
        button.search-speakers__add(type="button") +
    //- Image upload
    label(for="photo") Event Photo
    input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
    if(event.photo)
      img(src=`/uploads/${event.photo}`, alt=event.name width=200)
    label(for="address") Address
    input(type="text" id="address" name="location[address]" value=(event.location && event.location.address))
    label(for="lng") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(event.location && event.location.coordinates[0]) required)
    label(for="lat") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(event.location && event.location.coordinates[1]) required)
    - const choices = ['Event', 'Webinar', 'Workshop', 'Deadline', 'Lecture']
    - const tags = event.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="radio" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="Save" class="button")
